$dark-colors: (
  page-background-color: #2E2E2E,
  page-text-color: #ffffff,
  page-textarea-background-color: #2E2E2E,
  page-textarea-text-color: #f5f5f5,
  page-textarea-border-color: #E1E1E1,
  page-textarea-charcount-background-color: #222222,
  page-search-border-color: #E1E1E1,
  page-search-text-color: #f5f5f5,
  page-search-background-color: #2E2E2E,
  page-search-button-background-color: #222222,
  page-search-button-text-color: #f5f5f5
);
