$light-colors: (
  page-background-color: #f5f5f5,
  page-text-color: #2E2E2E,
  page-textarea-background-color: #f5f5f5,
  page-textarea-text-color: #2E2E2E,
  page-textarea-border-color: #b8b8b8,
  page-textarea-charcount-background-color: #dddddd,
  page-search-border-color: #b8b8b8,
  page-search-text-color: #2E2E2E,
  page-search-background-color: #f5f5f5,
  page-search-button-background-color: #f5f5f5,
  page-search-button-text-color: #222222
);
