@import "variables";
@import "themes/themes";
@import "theme-mixin";

.container {
  display: grid;
  height: 100%;

  @each $theme in $theme-list {
    $i: index($theme-list, $theme);
    @include container-theme(nth($theme-list, $i), nth($theme-color-list, $i));
  }

  .description {
    grid-column: span 12;
    display: grid;
    margin: 10px;
  }

  .search {
    &-docs {
      grid-column: span 6;
      margin: 10px 5px;
    }

    &-pdfs {
      grid-column: span 6;
      margin: 10px 5px;
    }
  }

  div.action {
    display: grid;
    grid-column: span 12;

    button {
      grid-column: span 2;
    }
  }
}
